*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(226, 216, 216);
  
}

#root {
  width: 100%;
  min-height: 100vh;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  
  border: 2px solid orange;
  
  margin: 0 50px;
}

.card {
  background-color: aliceblue;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
}

.card:hover {
  background-color: rgba(187, 196, 204, 0.922)
}

.gameOverModalBackground {
  background-color: rgba(0, 0, 0, 0.274);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameOverModal {
  background-color: orange;
  width: 50%;
}